# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [22]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [23]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [24]:
# load categories dataset
categories = pd.read_csv("categories.csv")
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [25]:
# merge datasets
df = messages.merge(categories, left_on='id', right_on='id')
display(df.head())
display(df.shape)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

(26386, 5)

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [26]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [27]:
# select the first row of the categories dataframe
row = categories.iloc[0,:]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x : x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [28]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [29]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1]
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column])
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [30]:
# drop the original categories column from `df`
df.drop('categories', inplace=True, axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [31]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df['original'].value_counts()

Nap fe ou konnen ke apati de jodi a sevis SMS 4636 pou enfomasyon ijan                                                                                                                                                                                         20
Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi                                                                                                      19
4636 : Nasyonzini di ou men m retire kounye a tout fatra ak gravwa nan#                                                                                                                                                                                         7
hmre vilage kachipul men flood ne bht nuksan kiya he hmra crop,hmre ghr aur hmra rozgar sbkch khtm hogya he mgr govt ne abi tk hmri koi help nhn ki he.                                                                                                         6
Enfomasyon sou tranbleman ta a                                                                                                                                                                                                                                  6
(basti jam gulab pahore basti ghulam haidar pahore key taqreeban 50 ghar halia selab mein tabah ho chukay hein makanu ka muawza nahi mila .c m punjab ki taraf se aik razai aik khandan key siwa kuch nahi mila.cool ki wajah se bachay bimar ho rahey hein     5
LID KAP TRAVAY NAN KOMIN LAN POU AVANSMAN TOUT AKINWA YO MALGRE NOU PA GEN MWAYEN MEN NAP FE PREV DE NOU AK TRANSPARAN POU TOUT KONPRANN SA NOU REYALIZE                                                                                                        5
4636 : ONG di trete dlow ak akwatab oubyen yon ti kloroks pouw ka bwel. siw met kloroks tann 30 minit. sante piblik ab bay akwatab                                                                                                                              5
Mwen men ak fanmil chak fwa lapli tonbe tet nou cho paske nou pa gen prela nou pa gen tant tanpri fon jwenn yon tant nou rete site militi nan ri pil moral la                                                                                                   5
jel2  Acte 5 : 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch102kr Es59                                                                                                                                                                                                       5
Si gen tant kap distribiye, fe tout sa nou ka f, poum ka jwenn younn svp.                                                                                                                                                                                       5
Mwen nan kafou fy zon dekayt nou beswen dlo potab paske dyare ap fini ave nou.                                                                                                                                                                                  5
p jwen dlo, manje, tant pou nou demi nou gen 101 timoun vinn sove n                                                                                                                                                                                             5
Apre chak katastwof ki pase nan peyi a, nou tout nou okouran, nasyonal e entenasyonal, kouman ed yo, lajan yo pa janm rive jwenn vre viktim kit se LETA oubye                                                                                                   5
Mwen ta remen konnen email pou jwenn jb                                                                                                                                                                                                                         5
Chak 1 h 2 tan, mande gras, padon, mizerikod pou Ayiti! Fl ak lafwa, sel Bondye ki ka retire nou nan sa. .. Voye mesaj sa pou 10 lot moun!                                                                                                                      5
      a                                                                                                                                                                                                                                                         4
Mwen ta renmen enskri nan program 46 36 sil vou ple                                                                                                                                                                                                             4
Mwen bezwen yon ti eksplikasyon konsne vwayaj peyi senegal                                                                                                                                                                                                      4
Logane 9m section citronniers nou bezwen manje                                                                                                                                                                                                                  4
Di prezidan remt peyi a bay Bondye.                                                                                                                                                                                                                             4
Tgen yon tranblement de terre kiti pase nan nord pays d'haiti st an 1842 bulan trt inconnue                                                                                                                                                                     4
zone kafou new york bezwen tant                                                                                                                                                                                                                                 4
Konbyen kob tv latino america ranmase miami                                                                                                                                                                                                                     4
Sil vou pl ede mwen avek moun ki viktim yo nan tranbleman de ta a, ki kiti potoprins ki vini nan provinse mwen ede ak ti kob mwen te ginyin kouni a                                                                                                             4
KI PREKOSYON POU M TA F SI TA W YON SKOUS AP PASE ANK.                                                                                                                                                                                                          4
mera gaon pura selab se tehas -nehas ho chuka hei.bohut log beghar hei. rehne ki jagah nahi hei.                                                                                                                                                                4
Delmas 33, charbonniere, information please.                                                                                                                                                                                                                    4
4636 : Nasyonzini di pouw pa pran malozye lave menw souvan, siw ba y#                                                                                                                                                                                           4
Je vous remercie tant de m'avoir donn la chance de m'exprimer par sms. En effet j'ai grand besoin d'un emploi dans un ONG, veuillez m'aider s'il vous plait 4636. Vos informations seront satisfaisantes pour moi.                                              4
                                                                                                                                                                                                                                                               ..
besoin travailler comme traducteur, interprete en anglais                                                                                                                                                                                                       1
Digi cheri grangou a tw rad nan jakmel e se pa tout moun ki jwenn manje voye kat non pou mwen sil vou ple                                                                                                                                                       1
village jam gulab pahore village ghulam haidar pahore key taqreeban 50 ghar halia flood mein tabah ho chukay hein makanu ka muawza nahi mila khaimu mein guzar basar kar rahey hein .c .m. punjab ki taraf se aik razai fi khandan key siwa kuch nahi mila.     1
Mwen gen pwoblem pa pasem nan tintin Mwen grangou relem pou dim kisa wap ban Mwen                                                                                                                                                                               1
Silvoupl Nou mande sekou pou popilasyon fampak, nou paka sipte ank ak lamiz! Nou nan adres : route de damien riyl Fampak sant ebjman moun katye sa, tan                                                                                                         1
MWEN PA KAPAB TOUT FANMIY MWEN MOURI KAY MWEN KRAZE SE NAN LARI MAP DOMI MWEN PA KONN SA POUM FE TANPRI EDEM                                                                                                                                                    1
A la de koze mezanmi! Lekol la mete tout ti moun andy wi! Epi peson pa konn ki le l'ap louvri. Ane sa a pote anpil problem pou tout moun.                                                                                                                       1
Salut Digicel, j'ai besoin des informations sur la sexualite et comment faire choix d'une bonne femme. Je vous attends. Merci.                                                                                                                                  1
Eske janm tande yap di a nap gen poun subi gro sekous anko                                                                                                                                                                                                      1
Edem, grangou ap fin touye nou nan le lambi.                                                                                                                                                                                                                    1
Tanpri pase we nou nan matisan 7 pwolonje riyl maniga nou bezwen ti kay pou nou demi paske nou gen anpil ti moun seren pa bon pou yo nou bezwen manje n                                                                                                         1
Comment je pourais faire pour Aider les autres. Merci                                                                                                                                                                                                           1
Ye yo reyisi banm yon tidiri mesi pam                                                                                                                                                                                                                           1
Ong di si yon granmoun te fe yon tan li pat pran medikamanl', r#                                                                                                                                                                                                1
M okap yo di gen siklon eske se vwe                                                                                                                                                                                                                             1
Map koute radyo Dabon, map made s. o. s poun ka jwenn dokt nan zon sa yo paske mwayen deplasman difisil paske pa gen gaz.                                                                                                                                       1
Ki kosy ONG bay ak yon moun ki gen grip kap touse.                                                                                                                                                                                                              1
Est ce vraie que les gens peuvent aller au Snegal sans visa?                                                                                                                                                                                                    1
mwen ta renmen jwen infomasyon sou cyclone.                                                                                                                                                                                                                     1
Mwen ap viv nan yon kan pa gen dlo pa gen manje pote nou sekou, Eddy                                                                                                                                                                                            1
f ke yo ap mal viv nan ansagale lagonav. mesi.                                                                                                                                                                                                                  1
Mwen bezwen job la tou men pou kounya se manje dlo ak tante pou nou domi ke nou bezwen epi nou tromatize bon m panse chak ayisyen bezwen yon ed sikolojik                                                                                                       1
istorik tranblemannte an ayiti svp,                                                                                                                                                                                                                             1
je suis un auditeur de Mbc. je suis inquiet pour la station. la station n'emet plus a Hinche.                                                                                                                                                                   1
Bonswa mwen ta renmen konnen eske vr ap gen tranbleman ta ank vri pou wikend lan tanpri fem konnen                                                                                                                                                              1
koman yon moun ki gen paspo l espire ap f renouvle l si imigrasyon an fmen?                                                                                                                                                                                     1
Mwen nan sitron mwen grangoum swaf mwen sal svp sovem map mouri                                                                                                                                                                                                 1
0PPeyi a tounen yon fnwa bd sl ki konnenH?mi                                                                                                                                                                                                                    1
Mwen rinmen konmen si met dormi nan kay                                                                                                                                                                                                                         1
Eske mwen kal fe nouvo pasp pou konya? Eske yo jenn foto prizonye yo?lubens julien                                                                                                                                                                              1
Name: original, Length: 9630, dtype: int64

In [33]:
display(df[df['original']== "Nap fe ou konnen ke apati de jodi a sevis SMS 4636 pou enfomasyon ijan"][['id', 'message', 'related', 'aid_related', 'request']])

,id,message,related,aid_related,request
9052,10109,"NOTES: This message is not complete, there's m...",1,0,0
9141,10202,"WE want to let you know from now on,the servic...",0,0,0
9170,10237,We say you now sms service 4636 for urgent inf...,1,0,0
9187,10256,we want you know that now a day the service of...,1,0,0
9240,10313,We will tell you that from today the 4636 SMS ...,1,0,0
9298,10379,NOTES: I had already translated this message.,0,0,0
9304,10386,NOTES: I already translated this message.,0,0,0
9344,10429,we want to bring to your notice that starting ...,1,0,0
9366,10456,We want to awarn you for today the 4636 SMS is...,1,0,0
9401,10495,We want to awarn you for today the 4636 SMS Se...,0,0,0
9403,10498,"I make you to know that, Now the SMS service 4...",0,0,0
9455,10557,We are leting you know that from today SMS ser...,0,0,0
9474,10582,we gonna make u know from today with the servi...,0,0,0
9516,10630,NOTES: it's already translated.,0,0,0
9567,10690,we do you to know from today the service of ''...,1,1,0
9587,10716,NOTES: This message is not full.,0,0,0
9604,10741,"we gonna make you know,from today the service ...",1,0,0
9660,10808,we are telling you to day the SMS services 463...,0,0,0
9692,10845,we make you know nowadays you can us the servi...,0,0,0
9769,10938,We will tell you that from today the 4636 SMS ...,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [34]:
# check number of duplicates
df.duplicated().sum()

170

In [35]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [36]:
# check number of duplicates
df.duplicated().sum()

0

In [37]:
# df.drop('related', axis=1, inplace=True)
# df.drop('child_alone', axis=1, inplace=True)
# df.drop(['original', 'genre'], axis=1, inplace=True)
# df.drop('id', axis=1, inplace=True)

In [38]:
df.reset_index(drop=True, inplace=True)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [39]:
sql_engine = create_engine('sqlite:///DisasterResponse.db', echo=False)
connection = sql_engine.raw_connection()  #had to have this line otherwise froze
df.to_sql('data', connection,index=False, if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [40]:
df['child_alone']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
26186    0
26187    0
26188    0
26189    0
26190    0
26191    0
26192    0
26193    0
26194    0
26195    0
26196    0
26197    0
26198    0
26199    0
26200    0
26201    0
26202    0
26203    0
26204    0
26205    0
26206    0
26207    0
26208    0
26209    0
26210    0
26211    0
26212    0
26213    0
26214    0
26215    0
Name: child_alone, Length: 26216, dtype: int64